<% @post.each do |post| %>
<div clsaa="post_wrapper">
  <h2 class="title">
    <%= link_to post.title, post %>
  </h2>
  <p class="date>">
    <%= post.created_at.strftime("%B, %d, %y") %>
  </p>
</div>
<% end %>